<div class="card" style="width: 18rem;">
    <img src="{{imagem}}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{marca}} - {{nome}}</h5>
        <div class="info">
            <div class="feature">
                <i class="bi bi-snow"></i>
                <p>AC</p>
            </div>

            <div class="feature">
                <i class="bi bi-gear-fill"></i>
                <p>{{cambio}}</p>
            </div>

            <div class="feature">
                <i class="bi bi-people-fill"></i>
                <p>{{totAssentos}}</p>
            </div>

            <div class="feature">
                <i class="bi bi-briefcase-fill"></i>
                <p>{{tamanhoMala}}</p>
            </div>

            <div class="feature">
                <i class="bi bi-fuel-pump-fill"></i>
                <p>{{tipoCombustivel}}</p>
            </div>
        </div>
    </div>

    <div class="card preco">
        <div class="card-body">
            R$ {{preco}} / dia
        </div>
    </div>

    <div class="card-body">

        <button *ngIf="!isAdmin && route.url === '/carhistory'" type="button" class="btn btn-danger">FEEDBACK</button>

        <button *ngIf="!isAdmin && route.url !== '/carhistory'" type="button" class="btn btn-danger">ALUGAR</button>

        <section class="editremove">
            <button *ngIf="isAdmin" class="edit">EDITAR</button>
            <button *ngIf="isAdmin" (click)="removeCar(id)" class="remove">REMOVER</button>
          </section>
    </div>
</div>

