<div class="card" style="width: 18rem;">
    <img src="assets/carro1.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Car Name</h5>
        <div class="info">
            <div class="feature">
                <i class="bi bi-snow"></i>
                <p>AC</p>
            </div>

            <div class="feature">
                <i class="bi bi-gear-fill"></i>
                <p>M</p>
            </div>

            <div class="feature">
                <i class="bi bi-people-fill"></i>
                <p>5</p>
            </div>

            <div class="feature">
                <i class="bi bi-briefcase-fill"></i>
                <p>3</p>
            </div>

            <div class="feature">
                <i class="bi bi-fuel-pump-fill"></i>
                <p>G</p>
            </div>
        </div>
    </div>

    <div class="card preco">
        <div class="card-body">
            R$ 164,00 / dia
        </div>
    </div>

    <div class="card-body">
        <button type="button" class="btn btn-danger">ALUGAR</button>
    </div>
  </div>

  <!------------------------------------------------------------------------>

  <div class="card" style="width: 18rem;">
    <img src="assets/carro1.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Car Name</h5>
        <div class="info">
            <div class="feature">
                <i class="bi bi-snow"></i>
                <p>AC</p>
            </div>

            <div class="feature">
                <i class="bi bi-gear-fill"></i>
                <p>M</p>
            </div>

            <div class="feature">
                <i class="bi bi-people-fill"></i>
                <p>5</p>
            </div>

            <div class="feature">
                <i class="bi bi-briefcase-fill"></i>
                <p>3</p>
            </div>

            <div class="feature">
                <i class="bi bi-fuel-pump-fill"></i>
                <p>G</p>
            </div>
        </div>
    </div>

    <div class="card preco">
        <div class="card-body">
            R$ 164,00 / dia
        </div>
    </div>

    <div class="card-body">

        <button type="button" class="btn btn-danger adm-btn">
            <i class="bi bi-trash"></i>
        </button>

        <button type="button" class="btn btn-danger adm-btn">
            <i class="bi bi-pencil-square"></i>
        </button>

    </div>
  </div>
