.card {
    background-color: #D9D9D9;
    display: flex;
    justify-content: space-around;
    margin-right: 120px;
    margin-bottom: 20px;
}

.card-title{
    color: var(--black);
}

.card-text {
    color: var(--black);
}

.card-body {
    text-align: center;
}

.feature{
    display: flex;
    flex-direction: column;
}

.preco{
    background: var(--black);
    margin-left: 10px;
    margin-right: 10px;
}

.info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: var(--black);
}

.card-img-top {
    height: 200px;
}
.editremove{
    display: flex;
    justify-content: center;
    .edit{
      margin-right: 10px;
      background: #dc3545;
      border: none;
      color: var(--white);
      border-radius: 0.375rem;
      font-size: 1rem;
      height: 40px;
      width: 60%;
    }
    .remove{
      background: #dc3545;
      border: none;
      color: var(--white);
      border-radius: 0.375rem;
      font-size: 1rem;
      height: 40px;
      width: 60%;
    }
  }