<app-nav-bar></app-nav-bar>

<nav class="general">

  <nav class="container">

    <img (click)="navigate_to_home_page()" class = "logo" src="assets/AluCar.png"/>

    <div class="topbar">
      <button *ngIf="isAdmin && id_page == 0"  (click)="navigate_to_add_car_page()" class="addnewcar" id="addcar"  >Adicionar Carro</button>
      <br *ngIf="!isAdmin || id_page == 1">
      <br *ngIf="!isAdmin || id_page == 1">
      <br *ngIf="!isAdmin || id_page == 1">
      <!--section class="filter-button"><app-list-filters></app-list-filters></section-->
    </div>

  </nav>

  <nav class="estruction">
    <div *ngIf="isAdmin && id_page == 1" class="car-cards">
      <app-car-list-card *ngFor="let carroemail of listaCarroEmail"
      id = {{carroemail[0].id}}
      nome = {{carroemail[0].nome}}
      imagem = {{carroemail[0].imagem}}
      marca = {{carroemail[0].marca}}
      cambio = {{carroemail[0].cambio}}
      totAssentos = {{carroemail[0].totAssentos}}
      tamanhoMala = {{carroemail[0].tamanhoMala}}
      tipoCombustivel = {{carroemail[0].tipoCombustivel}}
      preco = {{carroemail[0].preco}}
      qtdeCarros= {{carroemail[0].quantidade_disponivel}}
      email= {{carroemail[1]}}
      retirada= {{carroemail[2]}}
      devolucao= {{carroemail[3]}}
      pagamento= {{carroemail[4]}}
      devolvido= {{carroemail[5]}}
      ></app-car-list-card>
    </div>
    <div *ngIf="isClient && id_page == 1" class="car-cards">
      <app-car-list-card *ngFor="let carroemail of listaCarroEmail"
      id = {{carroemail[0].id}}
      nome = {{carroemail[0].nome}}
      imagem = {{carroemail[0].imagem}}
      marca = {{carroemail[0].marca}}
      cambio = {{carroemail[0].cambio}}
      totAssentos = {{carroemail[0].totAssentos}}
      tamanhoMala = {{carroemail[0].tamanhoMala}}
      tipoCombustivel = {{carroemail[0].tipoCombustivel}}
      preco = {{carroemail[0].preco}}
      qtdeCarros= {{carroemail[0].quantidade_disponivel}}
      email= {{carroemail[1]}}
      retirada= {{carroemail[2]}}
      devolucao= {{carroemail[3]}}
      pagamento= {{carroemail[4]}}
      devolvido= {{carroemail[5]}}
      ></app-car-list-card>
    </div>
    <div *ngIf="id_page == 0" class="car-cards">
      <app-car-list-card *ngFor="let car of listaCarros"
      id = {{car.id}}
      nome = {{car.nome}}
      imagem = {{car.imagem}}
      marca = {{car.marca}}
      cambio = {{car.cambio}}
      totAssentos = {{car.totAssentos}}
      tamanhoMala = {{car.tamanhoMala}}
      tipoCombustivel = {{car.tipoCombustivel}}
      preco = {{car.preco}}
      qtdeCarros= {{car.quantidade_disponivel}}
      email= {{car.nome}}
      retirada= {{car.nome}}
      devolucao= {{car.nome}}
      pagamento= {{car.nome}}
      devolvido= {{car.nome}}
      ></app-car-list-card>
    </div>

  </nav>

</nav>
