.general{
  display: flex;
  flex-direction: column;

  .container{
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo{
      margin-top: 10px;
      height: 8%;
      margin-bottom: 3px;
    }

    .topbar{
      display: flex;
      width: 100%;
      .addnewcar{
        justify-content: flex-start;
        background: var(--green);
        color: var(--white);
        border: none;
        width: 200px;
        height: 50px;
        border-radius: 31px;
        margin-top: 10px;
      }
      .addnewcar:hover {
        background-color: #346224;
      }
      .filter-button{
        width: 100%;
        display: flex;
        justify-content: flex-end;

      }

    }


  }
  .estruction{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 40px;
    padding-left: 200px;
    margin-right: 50px;
    .car-cards{
      display: flex;
      flex-direction: column;
      .row1{
        @media (min-width: 1000px) {
          margin-right: 30px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding-bottom: 30px;

        }

        @media (max-width: 1000px) {
          margin-right: 30px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding-bottom: 30px;

        }

      }
      .row2{
        @media (min-width: 1000px) {
          margin-right: 30px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding-bottom: 30px;
        }

        @media (max-width: 1000px) {
          margin-right: 30px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding-bottom: 30px;
        }
      }

    }

  }
}

.card {
  background-color: #D9D9D9;
  display: flex;
  justify-content: space-around;
  margin-right: 120px;


  @media (max-width: 1000px) {
    margin-bottom: 5%;
  }
  .Img_1{
    padding-top: 10px;

  }
  .Img_2{
    padding-top: 15px;
  }
  .Img_3{
    padding-top: 10px;
  }
  .Img_4{
    width: 92%;
    padding-top: 20px;
  }
  .Img_5{
    width: 115%;
    padding-right: 30px;

  }
  .Img_6{
    width: 90%;
    padding-left: 15px;
  }
}

.card-title{
  color: var(--black);
}

.card-text {
  color: var(--black);
}

.card-body {
  text-align: center;
}

.editremove{
  display: flex;
  justify-content: center;
  .edit{
    margin-right: 10px;
    background: #dc3545;
    border: none;
    color: var(--white);
    border-radius: 0.375rem;
    font-size: 1rem;
    height: 40px;
    width: 60%;
  }
  .remove{
    background: #dc3545;
    border: none;
    color: var(--white);
    border-radius: 0.375rem;
    font-size: 1rem;
    height: 40px;
    width: 60%;
  }
}

.feature{
  display: flex;
  flex-direction: column;
}

.preco{
  background: var(--black);
  margin-left: 5px;
  margin-right: 5px;
}

.info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: var(--black);
}

.adm-btn{
  margin: 5px;
}


