<app-nav-bar></app-nav-bar>

<nav class="general">

  <nav class="container">

    <img (click)="navigate_to_home_page()" class = "logo" src="assets/AluCar.png"/>

    <div class="topbar">
      <button *ngIf="isAdmin && id_page == 0"  (click)="navigate_to_add_car_page()" class="addnewcar"  >Adicionar Carro</button>
      <section class="filter-button"><app-list-filters></app-list-filters></section>
    </div>

  </nav>

  <nav class="estruction">
    <div class="car-cards">
        <app-car-list-card *ngFor="let car of listaCarros"
        id = {{car.id}}
        nome = {{car.nome}}
        imagem = {{car.imagem}}
        marca = {{car.marca}}
        cambio = {{car.cambio}}
        totAssentos = {{car.totAssentos}}
        tamanhoMala = {{car.tamanhoMala}}
        tipoCombustivel = {{car.tipoCombustivel}}
        preco = {{car.preco}}
        qtdeCarros= {{car.quantidade_disponivel}}
        ></app-car-list-card>

    </div>

  </nav>

</nav>
