.general{
  display: flex;
  flex-direction: column;

  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
  
    .logo{
      margin-top: 10px;
      height: 8%;
      margin-bottom: 3px;
    }
  
    .filter-div{
      display: flex;
      justify-content: flex-end;
      width: 100vw;
      margin-right: 100px;
      .filter{
        display: flex;
        
      }
    }
  
  }
  .estruction{
    display: flex;
    flex-direction: row;
    padding-top: 40px;
    padding-left: 200px;
    margin-right: 50px;
    .car-cards{
      display: flex;
      flex-direction: column;
      .row1{
        margin-right: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 30px;
      }
      .row2{
        margin-right: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 30px;
      }

    }
    
  }
}

.card {
  background-color: #D9D9D9;
  display: flex;
  justify-content: space-around;
  margin-right: 120px;
  .Img_1{
    padding-top: 10px;

  }
  .Img_2{
    padding-top: 15px;
  }
  .Img_3{
    padding-top: 10px;
  }
  .Img_4{
    width: 92%;
    padding-top: 20px;
  }
  .Img_5{
    width: 115%;
    padding-right: 30px;

  }
  .Img_6{
    width: 90%;
    padding-left: 15px;
  }
}

.card-title{
  color: var(--black);
}

.card-text {
  color: var(--black);
}

.card-body {
  text-align: center;
}

.feature{
  display: flex;
  flex-direction: column;
}

.preco{
  background: var(--black);
  margin-left: 5px;
  margin-right: 5px;
}

.info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: var(--black);
}

.adm-btn{
  margin: 5px;
}

