<nav class="container" *ngIf="filter_openned">

    <div class="title">
        <h1>Filtros</h1>
        <a><i (click)="filter_onclick()" class="bi bi-x-lg close-button"></i></a>
    </div>

    <hr class="division">

    <div class="options">
        <!-- FILTRO POR CATEGORIA -->
        <div class="filtro">
            <h5>Categoria</h5>
            <div class="instance">
                <input type="checkbox">
                <p>Hatch</p>
            </div>

            <div class="instance">
                <input type="checkbox">
                <p>Sedan</p>
            </div>

            <div class="instance">
                <input type="checkbox">
                <p>SUV</p>
            </div>

            <div class="instance">
                <input type="checkbox">
                <p>Caminhonete</p>
            </div>
        </div>

        <!-- FILTRO POR PREÇO DA DIÁRIA -->
        <div class="filtro">
            <h5>Preço (R$/dia)</h5>
            <div class="instance">
                <input type="checkbox">
                <p>40 - 100</p>
            </div>

            <div class="instance">
                <input type="checkbox">
                <p>100 - 200</p>
            </div>

            <div class="instance">
                <input type="checkbox">
                <p>200+</p>
            </div>
        </div>

        <!-- FILTRO POR TOTAL DE ASSENTOS -->
        <div class="filtro">
            <h5>Assentos</h5>
            <div class="instance">
                <input type="checkbox">
                <p>2</p>
            </div>

            <div class="instance">
                <input type="checkbox">
                <p>5</p>
            </div>

            <div class="instance">
                <input type="checkbox">
                <p>7+</p>
            </div>
        </div>

        <!-- FILTRO POR CAMBIO -->
        <div class="filtro">
            <h5>Câmbio</h5>
            <div class="instance">
                <input type="checkbox">
                <p>Manual</p>
            </div>

            <div class="instance">
                <input type="checkbox">
                <p>Automático</p>
            </div>
        </div>

        <!-- FILTRO POR TIPO COMBUSTÍVEL -->
        <div class="filtro">
            <h5>Combustível</h5>
            <div class="instance">
                <input type="checkbox">
                <p>Gasolina</p>
            </div>

            <div class="instance">
                <input type="checkbox">
                <p>Etanol</p>
            </div>

            <div class="instance">
                <input type="checkbox">
                <p>Flex</p>
            </div>

            <div class="instance">
                <input type="checkbox">
                <p>elétrico</p>
            </div>

            <div class="instance">
                <input type="checkbox">
                <p>Híbrido</p>
            </div>
        </div>

        <!-- FILTRO POR BAGAGEM -->
        <div class="filtro">
            <h5>Bagagem</h5>
            <div class="instance">
                <input type="checkbox">
                <p>P</p>
            </div>

            <div class="instance">
                <input type="checkbox">
                <p>M</p>
            </div>

            <div class="instance">
                <input type="checkbox">
                <p>G</p>
            </div>
        </div>

        <!-- OUTRAS OPÇÕES -->
        <div class="filtro">
            <h5>Recomendações</h5>
            <div class="instance">
                <input type="checkbox">
                <p>Mais Alugados</p>
            </div>

            <div class="instance">
                <input type="checkbox">
                <p>Promoções</p>
            </div>
        </div>


        <!-- FILTRO POR MARCA-->
        <div class="filtro">
            <h5>Marca</h5>
            <div class="instance">
                <input type="checkbox">
                <p>Toyota</p>
            </div>

            <div class="instance">
                <input type="checkbox">
                <p>Chevrolet</p>
            </div>

            <div class="instance">
                <input type="checkbox">
                <p>Hyundai</p>
            </div>

            <div class="instance">
                <input type="checkbox">
                <p>Nissan</p>
            </div>
        </div>



    </div>

    <button (click)="filter_onclick()" type="button" class="btn btn-success">APLICAR</button>

</nav>

<div class="filter-button" *ngIf="!filter_openned">
  <img  (click)="filter_onclick()" src="assets/filter-button.svg">
  <button (click)="filter_onclick()" class="button">Filtrar</button>
</div>
