.container {

    height: 100%;
    //float: right;
    top:0;
    right:0;
    z-index: 100;
    display: flex;
    position: fixed;
    background-color: #D9D9D9;
    box-shadow: -7px 0px 8px rgba(0, 0, 0, 0.25);
    //background-color: black;
    height: 100vh;
    width: 16%;
    flex-direction: column;
    //align-items: center;
    padding-top: 1%;
    padding-bottom: 20px;
    overflow-y: scroll;
    // hide scroll bar
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    .title{
        display: flex;
        justify-content: space-between;
        font-size: 150%;
        color: var(--black);
    }


    .close-button{
        color: var(--black);
    }

    .close-button:hover{
        color: var(--white);

    }

    .division{
        color: var(--black);
    }

    .options{
        display: flex;
        flex-direction: column;
        color: var(--black);
    }

    .filtro{
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
    }
    .instance{
        display: flex;
        float: left;
        margin-left:20px;
        text-align: center;

    }

    p{
        margin-bottom: 0;
        margin-left: 4px;
    }

}

.button{
    font-size: 36px;
    background: transparent;
    color: var(--white);
    border: none;
    text-decoration: underline;
  }

.container::-webkit-scrollbar { //hide scrollbar on other browsers
    display: none;
  }




