<nav class="container">
    <h1 class="titles">OPÇÕES</h1>

    <section class='division'>
        <div class="imagem">
            <p>imagem do Carro</p>
        </div>
    
        <section class='options'>
            <div class="Seguros">
                <h2 class="titles">SEGUROS E PROTEÇÕES</h2>
            </div>
        
            <div class="Acessórios">
                <h2 CLASS="titles">ACESSÓRIOS</h2>
            </div>
            
            <div class="pagamento">
                <h3 class="titles">TOTAL:XXXXXXXXX</h3>
        
                <button CLASS='submit-button'>
                    PAGAR
                </button>
            </div>
            
        </section>
        
    </section>
    

</nav>
