.container{
    background: var(--bg);
    display: flex;
    align-items: center;
    flex-direction: column;
    //justify-content: space-between;
    font-weight: normal;
    height: 100%;
    width: 100%;
    padding-top: 2%;


    .titles {
        font-weight: normal;
        color: var(--white);
        align-content: center;
    }

    h1 {
        
        font-size: 280%;
    }

    .division{
        margin-top:5%;
        height: 100%;
        width: 75%;
        text-align: center;
        display: flex;
        justify-content: space-between;
    }

    .imagem{
        height: 30%
    }

    .info{
        height: 30%
    }

    .options{
        justify-content: space-between;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 3%;
        margin-right: 3%;
        padding-right: 15%
    }

    .submit-button {
        margin-top: 0.5%;
        margin-bottom: 9%;
        //padding-bottom: 30px;
        font-size: 100%;
        background: var(--red);
        padding: 0.7%;
        border-radius: 31px;
        font-weight: normal;
        color: var(--white);
    }

    .submit-button:hover {
        background: #9f3e3e;
    }
}