<nav class="container">
    <h1 clas="title">LOCAÇÃO</h1>

    <div class="imagem">
        
    </div>

    <div class="info">
        <h2>Informações</h2>
    </div>

    <div class="selections">
        <div class="retirada">
            <h3>Retirada</h3>
            <input type="datetime-local" min="{{min}}">
        </div>
        
        <div>
            <h3>Devolução</h3>
            <input type="datetime-local">
        </div>

        <a href="">
            <h3>Prosseguir</h3>
        </a>
    </div>
</nav>
