<nav class="container">
    <h1 class="titles">LOCAÇÃO</h1>

    <div class="imagem">
        <p>imagem do carro</p>
    </div>

    <div class="info">
        <h2 class="titles">Informações</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque aspernatur beatae ad illo iste sit reprehenderit 
            vitae aperiam culpa unde omnis debitis fugit neque voluptas ullam accusamus, autem voluptatem eaque?</p>
    </div>

    <section class="selections">
        <div class="retirada">
            <h3 class="titles">Retirada</h3>
            <input type="datetime-local" min="{{min}}">
        </div>
        
        <div class="devolução">
            <h3 class="titles">Devolução</h3>
            <input type="datetime-local">
        </div>

        
    </section>

    <button class="submit-button">
        AVANÇAR
    </button>
    
</nav>

<section class="feedback-card-section">
    <app-card-feedback class="feedback-card"></app-card-feedback>

    <app-card-feedback class="feedback-card"></app-card-feedback>
</section>
