.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    //justify-content: space-between;
    font-weight: normal;
    height: 100vh;
    padding-top: 2%;


    .titles {
        font-weight: normal;
        color: var(--white);
        align-content: center;
        margin-bottom: 20px;
    }

    h1 {

        font-size: 280%;
    }

    .car{
        display: flex;
        padding-top: 20px;
    }

    .image{
        height: 20%;
        color: var(--white);
    }

    .info{
        text-align:center;
        //padding-top: 10%;
        color: var(--white);
       // width: 40%;
    }

    .selections{
        justify-content: space-between;
        display: flex;
        padding-top: 6%;

        width: 100%;
        text-align:center;
    }

    .retirada{
        margin:auto;
    }

    .devolução{
        margin:auto;
    }

    .submit-button:hover {
        background: #346224;
    }

    .feedback-card-section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }



}
