.container{
    background: var(--bg);
    display: flex;
    align-items: center;
    flex-direction: column;
    //justify-content: space-between;
    font-weight: normal;
    height: 100vh;
    padding-top: 2%;


    .titles {
        font-weight: normal;
        color: var(--white);
        align-content: center;
    }

    h1 {
        
        font-size: 280%;
    }

    .imagem{
        padding-top: 5%;
        height: 20%;
        color: var(--white);
    }

    .info{
        text-align:center;
        padding-top: 10%;
        color: var(--white);
    }

    .selections{
        justify-content: space-between;
        display: flex;
        padding-top: 6%;
        
        width: 100%;
        text-align:center;
    }

    .retirada{
        margin:auto;
    }

    .devolução{
        margin:auto;
    }

    .submit-button {
        margin-top: 5%;
        //padding-bottom: 30px;
        font-size: 100%;
        background: var(--green);
        padding: 0.7%;
        border-radius: 31px;
        font-weight: normal;
        color: var(--white);
    }

    .submit-button:hover {
        background: #346224;
    }
   
    
}