<nav class="nav_container" *ngIf="nav_openned">
    <img (click)="nav_onclick()" class = "nav_button_toggle" src="assets/X.png"/>
    <div class="nav_text">
        <div class="nav_text_main">

            <p class="nav_button_text"><a (click)="navigate_to_home_page()" class="nav_button">Home</a></p>
            <p class="nav_button_text"><a (click)="navigate_to_car_list()" class="nav_button" id="nav_button_carlist">Carros</a></p>
            <p *ngIf="isClient && !isAdmin" class="nav_button_text"><a (click)="navigate_to_car_history_page()" class="nav_button">Car History</a></p>
            <p *ngIf="isClient && !isAdmin" class="nav_button_text"><a (click)="navigate_to_feedback_page()" class="nav_button">Feedback</a></p>
            <p *ngIf="!isClient && isAdmin" class="nav_button_text"><a (click)="navigate_to_car_return_page()" class="nav_button">Devolução de carro</a></p>

        </div>

          <section class="login">
            <a *ngIf="!isClient && !isAdmin"(click)="navigate_to_login_page()" class="nav_button">Login</a>
            <p *ngIf="isClient || isAdmin" class="nav_button">{{clientName}}</p>
            <a *ngIf="isClient || isAdmin" class="nav_button" (click)="logOut()">Sair</a>
          </section>

    </div>

</nav>

<div *ngIf="!nav_openned">
    <img class="nav_button_toggle" (click)="nav_onclick()" src="assets/nav-button.svg"/>
</div>
