<app-nav-bar></app-nav-bar>

<section class="add-car-container">

  <!--
    Ajustar logotipo
  <img (click)="navigate_to_home_page()" src="assets/AluCar.png">
  -->

  <img (click)="navigate_to_home_page()" class="logo" src="assets/AluCar.png">

  <h1>Editar Carro</h1>

  <form [formGroup]="editCarForm" class="form-container" (ngSubmit)="onSubmit()">
    <!-- Coluna da direita -->
    <div class="col-left">
        <section class="sec">
            <p class="marca">Marca:</p>
            <select formControlName="marca" class="marca-txt" type="text">
              <option *ngFor="let marca of Marca"
                  [value]="Marca">{{marca}}</option>
          </select>
        </section>

        <section class="sec">
            <p class="ano">Ano:</p>
            <input type="text" class="ano-txt" value="foo" formControlName="ano">
        </section>

        <section class="sec">
            <p class="direcao">Direção:</p>
            <select formControlName="direcao" class="direcao-txt" type="text">
              <option *ngFor="let direcao of Direcao"
                  [value]="Direcao">{{direcao}}</option>
          </select>
        </section>

        <section class="sec">
            <p class="combustivel">Combustível:</p>
            <select formControlName="tipoCombustivel" class="comb-txt" type="text">
              <option *ngFor="let combustivel of Combustivel"
                  [value]="Combustivel">{{combustivel}}</option>
          </select>
        </section>

        <section class="sec">
            <p class="bagage">Tamanho do bagageiro:</p>
            <select formControlName="tamanhoMala" class="bagage-txt" type="text">
              <option *ngFor="let bagageiro of Bagageiro"
                  [value]="Bagageiro">{{bagageiro}}</option>
          </select>
        </section>

        <section class="sec">
            <p class="bagage">Link da imagem:</p>
            <input type="text" class="bagage-txt" value="foo" formControlName="imagem">
        </section>
    </div>

    <!-- Coluna da direita -->
    <div class="col-right">
        <section class="sec">
            <p class="modelo">Modelo:</p>
            <input type="text" class="modelo-txt" value="foo" formControlName="nome">
        </section>

        <section class="sec">
            <p class="categoria">Categoria:</p>
            <select formControlName="categoria" class="categ-txt" type="text">
              <option *ngFor="let categoria of Categoria"
                  [value]="Categoria">{{categoria}}</option>
          </select>
        </section>

        <section class="sec">
            <p class="cambio">Câmbio:</p>
            <select formControlName="cambio" class="cambio-txt" type="text">
              <!--option *ngFor="let cambio of Cambio"
                  [value]="Cambio">{{cambio}}</option-->
              <option value="" selected="selected">{{this.selectedCar.cambio}}</option>
              <option value="manual">Manual</option>
              <option value="automatico">Automatico</option>
          </select>
        </section>

        <section class="sec">
            <p class="assentos">Quantidade de Assentos:</p>
            <select formControlName="totAssentos" class="assentos-txt" type="text" defa>
              <option *ngFor="let assentos of Assentos"
                  [value]="Assentos">{{assentos}}</option>
          </select>
        </section>

        <section class="sec">
            <p class="diaria">Preço da diária:</p>
            <input type="text" class="diaria-txt" value="foo" formControlName="preco">
        </section>

        <div class="button-confirm">

            <button type="submit" class="button"><img class="disket" src="assets/disket.png">Salvar</button>

        </div>
    </div>

</form>


</section>


<!--
<app-nav-bar></app-nav-bar>
<section class="add-car-container">
    <img class = "logo" src="assets/AluCar.png"/>

    <div class="form-container">

    </div>
</section>
-->
