<section class="add-car-container">

  <!--
    Ajustar logotipo
  <img (click)="navigate_to_home_page()" src="assets/AluCar.png">
  -->

  <img class="logo" src="assets/AluCar.png">

  <h1>Adicionar Carro</h1>

  <section class="form-container">
    <!-- Coluna da direita -->
    <div class="col-left">
        <section class="sec">
            <p class="marca">Marca:</p>
            <input type="text" class="marca-txt">
        </section>

        <section class="sec">
            <p class="ano">Ano:</p>
            <input type="text" class="ano-txt">
        </section>

        <section class="sec">
            <p class="direcao">Direção:</p>
            <input type="text" class="direcao-txt">
        </section>

        <section class="sec">
            <p class="combustivel">Combustível:</p>
            <input type="text" class="comb-txt">
        </section>

        <section class="sec">
            <p class="bagage">Tamanho do bagageiro:</p>
            <input type="text" class="bagage-txt">
        </section>

        <div class="button-photo">

            <button class="button"><img class="camera" src="assets/camera.png">Upload Foto</button>

        </div>
    </div>

    <!-- Coluna da direita -->
    <div class="col-right">
        <section class="sec">
            <p class="modelo">Modelo:</p>
            <input type="text" class="modelo-txt">
        </section>

        <section class="sec">
            <p class="categoria">Categoria:</p>
            <input type="text" class="categ-txt">
        </section>

        <section class="sec">
            <p class="cambio">Câmbio:</p>
            <input type="text" class="cambio-txt">
        </section>

        <section class="sec">
            <p class="assentos">Quantidade de Assentos:</p>
            <input type="text" class="assentos-txt">
        </section>

        <section class="sec">
            <p class="diaria">Preço da diária:</p>
            <input type="text" class="diaria-txt">
        </section>

        <div class="button-confirm">

            <button class="button"><img class="disket" src="assets/disket.png">Adicionar</button>

        </div>
    </div>

  </section>

</section>


<!--
<app-nav-bar></app-nav-bar>
<section class="add-car-container">
    <img class = "logo" src="assets/AluCar.png"/>

    <div class="form-container">

    </div>
</section>
-->
