/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap';

@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons.css';

@font-face {
  font-family: "Roboto";
  src: local("static"), url(./assets/fonts/static/RobotoSlab-Regular.ttf) format("truetype");
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

:root {
  --bg : #404145;
  --black: #000000;
  --white: #FFFFFF;
  --beige: #D9D9D9;
  --red: #FF6565;
  --green: #3C921E;
  --blue: #1F1BE0;
  --grey:#232428;

}

body{
  background: var(--bg);
  color: var(--white);
}

button, a{
  cursor: pointer;
}

img{
  cursor: pointer;
}


