<app-nav-bar></app-nav-bar>

<nav class="home-container">

    <img class = "logo" src="assets/AluCar.png"/>

    <section class="showcase">
        <h2>PROMOÇÕES</h2>
        <section class="car-images">
            <img [routerLink]="['/location', 8]" src="assets/carro2.png" class="fix-car carro" id="s-class">
            <img [routerLink]="['/location', 7]" src="assets/carro1.png" class="carro">
            <img [routerLink]="['/location', 5]" src="assets/carro7.png" class="carro">
        </section>
        <a [routerLink]="['/carlist', 0]" class="lista">ver lista completa</a>
    </section>

    <section class="showcase">
        <h2>MAIS ALUGADOS</h2>
        <section class="car-images">
            <img [routerLink]="['/location', 5]" src="assets/carro8.png" class="fix-car carro">
            <img [routerLink]="['/location', 4]" src="assets/carro4.png" class="fix-car fix-car-red carro" >
            <img [routerLink]="['/location', 6]" src="assets/carro9.png" class="fix-car wrong-car carro">
        </section>
        <a [routerLink]="['/carlist', 0]" class="lista">ver lista completa</a>
    </section>
</nav>




