.home-container{
    background: var(--bg);
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;


    .logo{
        margin-top: 1%;
        height: 8%;
        margin-bottom: 3%;
    }

    .showcase{
        width: 100%;
        height: 40%;
        color: var(--white);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .lista{
            margin-left: 90%;
            margin-bottom: 1%;
            text-decoration: underline;
            //color: var(--blue);
        }

    }

    .car-images {
        display: flex;
        flex-direction: row;
        margin-left: -4%;
    }

    .fix-car {
        height: 90%;
        margin-top: 5%;
    }

    .wrong-car {
        margin-top: 8%;
        margin-left: 2%;
    }



}
