<app-nav-bar></app-nav-bar>
<nav class="home-container">

    <img class = "logo" src="assets/AluCar.png"/>

    <section class="showcase">
        <h2>PROMOÇÕES</h2>
        <section class="car-images">
            <img (click)="navigate_to_location_page()" src="assets/carro_blur1.png" class="fix-car">
            <img (click)="navigate_to_location_page()" src="assets/carro1.png">
            <img (click)="navigate_to_location_page()" src="assets/carro_blur2.png">
        </section>
        <a (click)="navigate_to_car_list()" class="lista">ver lista completa</a>
    </section>

    <section class="showcase">
        <h2>MAIS ALUGADOS</h2>
        <section class="car-images">
            <img (click)="navigate_to_location_page()" src="assets/carro_blur3.png" class="fix-car">
            <img (click)="navigate_to_location_page()" src="assets/carro4.png" class="fix-car">
            <img (click)="navigate_to_location_page()" src="assets/carro_blur4.png" class="fix-car wrong-car">
        </section>
        <a (click)="navigate_to_car_list()" class="lista">ver lista completa</a>
    </section>
</nav>




