<app-nav-bar></app-nav-bar>
<nav class="container">
    <img (click)="navigate_to_home_page()" class="titles" src="assets/AluCar.png" alt="">
    <h1 class="titles">OPÇÕES</h1>

    <section class='division'>
        <div class="imagem">
            <figure class="figure">
                    <img src="{{imagem}}" class="figure-img img-fluid rounded" alt="...">
              </figure>
        </div>

        <section class='options'>
            <div class="Seguros">
                <h2 class="titles">SEGUROS E PROTEÇÕES</h2>

                <div class="input-group mb-3">
                        <div class="input-group-text">
                            <input class="form-check-input mt-0" type="checkbox" (change)="onChange(seguros[0].value, $event, '1')" value="" id="defaultCheck1" aria-label="Checkbox for following text input">
                        </div>

                        <label class="form-control" for="defaultCheck1" aria-label="Text input with checkbox">
                            {{seguros[0].name}} - R$ {{seguros[0].value}} / dia
                        </label>
                  </div>

                <div class="input-group mb-3">
                        <div class="input-group-text">
                            <input class="form-check-input mt-0" type="checkbox" (change)="onChange(seguros[1].value, $event, '1')" value="" id="defaultCheck1" aria-label="Checkbox for following text input">
                        </div>

                        <label class="form-control" for="defaultCheck1" aria-label="Text input with checkbox">
                          {{seguros[1].name}} - R$ {{seguros[1].value}} / dia
                        </label>
                  </div>

                  <div class="input-group mb-3">
                        <div class="input-group-text">
                            <input class="form-check-input mt-0" type="checkbox" (change)="onChange(seguros[2].value, $event, '1')" value="" id="defaultCheck1" aria-label="Checkbox for following text input">
                        </div>

                        <label class="form-control" for="defaultCheck1" aria-label="Text input with checkbox">
                          {{seguros[2].name}} - R$ {{seguros[2].value}} / dia
                        </label>
                  </div>

                  <div class="input-group mb-3">
                        <div class="input-group-text">
                            <input class="form-check-input mt-0" type="checkbox" (change)="onChange(seguros[3].value, $event, '1')" value="" id="defaultCheck1" aria-label="Checkbox for following text input">
                        </div>

                        <label class="form-control" for="defaultCheck1" aria-label="Text input with checkbox">
                          {{seguros[3].name}} - R$ {{seguros[3].value}} / dia
                        </label>
                  </div>

            </div>

            <div class="Acessórios">
                <h2 CLASS="titles">ACESSÓRIOS</h2>

                <div class="input-group mb-3">
                        <div class="input-group-text">
                            <input class="form-check-input mt-0" type="checkbox" (change)="onChange(acessorios[0].value, $event, '2')" value="" id="defaultCheck1" aria-label="Checkbox for following text input">
                        </div>

                        <label class="form-control" for="defaultCheck1" aria-label="Text input with checkbox">
                          {{acessorios[0].name}} - R$ {{acessorios[0].value}}
                        </label>
                  </div>

                  <div class="input-group mb-3">
                        <div class="input-group-text">
                            <input class="form-check-input mt-0" type="checkbox" (change)="onChange(acessorios[1].value, $event, '2')" value="" id="defaultCheck1" aria-label="Checkbox for following text input">
                        </div>

                        <label class="form-control" for="defaultCheck1" aria-label="Text input with checkbox">
                          {{acessorios[1].name}} - R$ {{acessorios[1].value}}
                        </label>
                  </div>

                  <div class="input-group mb-3">
                        <div class="input-group-text">
                            <input class="form-check-input mt-0" type="checkbox" (change)="onChange(acessorios[2].value, $event, '2')" value="" id="defaultCheck1" aria-label="Checkbox for following text input">
                        </div>

                        <label class="form-control" for="defaultCheck1" aria-label="Text input with checkbox">
                          {{acessorios[2].name}} - R$ {{acessorios[2].value}}
                        </label>
                  </div>

                  <div class="input-group mb-3">
                        <div class="input-group-text">
                            <input class="form-check-input mt-0" type="checkbox" (change)="onChange(acessorios[3].value, $event, '2')" value="" id="defaultCheck1" aria-label="Checkbox for following text input">
                        </div>

                        <label class="form-control" for="defaultCheck1" aria-label="Text input with checkbox">
                          {{acessorios[3].name}} - R$ {{acessorios[3].value}}
                        </label>
                  </div>

                  <div class="input-group mb-3">
                        <div class="input-group-text">
                            <input class="form-check-input mt-0" type="checkbox" (change)="onChange(acessorios[4].value, $event, '2')" value="" id="defaultCheck1" aria-label="Checkbox for following text input">
                        </div>

                        <label class="form-control" for="defaultCheck1" aria-label="Text input with checkbox">
                          {{acessorios[4].name}} - R$ {{acessorios[4].value}}
                        </label>
                  </div>


            </div>

            <div class="pagamento">
                <h3 class="titles">TOTAL - R$ {{total}}</h3>

                <button (click)="navigate_to_home_page()" class="btn btn-danger pagar">
                    PAGAR
                </button>
            </div>

        </section>

    </section>


</nav>
