<section class="centralizer">
    <section class="feedback-card-container">
        <h3>João Pedro</h3>
        <div class="stars">
            <img src="assets/star-feedback-card.svg" alt="" class="star-vote">
            <img src="assets/star-feedback-card.svg" alt="" class="star-vote">
            <img src="assets/star-feedback-card.svg" alt="" class="star-vote">
            <img src="assets/star-feedback-card.svg" alt="" class="star-vote">
            <img src="assets/star-feedback-card.svg" alt="" class="star-vote">
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse qui aliquid soluta repellendus maiores, veritatis harum velit dolore quas facilis voluptatem laborum officiis tempore id nobis possimus aliquam? Eveniet, modi!</p>
    </section>
</section>
