.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    //justify-content: space-between;
    font-weight: normal;
    height: 100vh;
    padding-top: 2%;


    .titles {
        font-weight: normal;
        color: var(--white);
        align-content: center;
        //margin-bottom: 5px;
    }

    h1 {

        font-size: 280%;
    }

    .rental{
        display: flex;
        align-items: center;
        width: 500px;
        @media (min-width: 1000px) {
          justify-content: space-between;
        }

        @media (max-width: 1000px) {
          flex-direction: column;
        }

    }

    .car{
        display: flex;
        flex-direction: column;
       // padding-top: 20px;
    }

    .image{
        height: 250px;
        //width: 150px;
        color: var(--white);
        //margin-bottom: 100px;
    }

    .info{
        text-align:center;
        //padding-top: 10%;
        color: var(--white);
       // width: 40%;
    }

    .table{
        color: var(--white);
        width: 250px;
    }

    td{
        text-align: center;
    }

    .selections{
        justify-content: space-around;
        display: flex;
        flex-direction: column;
        //padding-top: 6%;
        //padding-left: 0;
        height: 100%;
        text-align:center;
    }

    .date{
      @media (max-width: 1000px) {
        margin-bottom: 10%;
      }
    }

    .submit-button:hover {
        background: #346224;
    }

    .feedback-card-section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 800px;
    }

    button{

        margin-left:auto;
        margin-right:auto;
    }

}


.imagemPrincipal{
  width: 300px;
}
