<app-nav-bar></app-nav-bar>

<nav class="container">
    <img (click)="navigate_to_home_page()" class="titles" src="assets/AluCar.png" alt="">
    <h1 class="titles">LOCAÇÃO</h1>

    <div class="image">
        <img src="{{this.selectedCar.imagem}}" class="imagemPrincipal" alt="Responsive image">
    </div>

    <div class="rental">
        <div class="car">

            <div class="info">
                <h2 class="titles">Informações</h2>

                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td>Marca</td>
                            <td>{{this.selectedCar.marca}}</td>
                        </tr>

                        <tr>
                            <td>Modelo</td>
                            <td>{{this.selectedCar.nome}}</td>
                        </tr>

                        <tr>
                            <td>Categoria</td>
                            <td>{{this.selectedCar.categoria}}</td>
                        </tr>

                        <tr>
                            <td>Câmbio</td>
                            <td>{{this.selectedCar.cambio}}</td>
                        </tr>

                        <tr>
                            <td>Assentos</td>
                            <td>{{this.selectedCar.totAssentos}}</td>
                        </tr>

                        <tr>
                            <td>Bagageiro</td>
                            <td>{{this.selectedCar.tamanhoMala}}</td>
                        </tr>

                        <tr>
                            <td>Combustível</td>
                            <td>{{this.selectedCar.tipoCombustivel}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

        <form [formGroup]="locationForm" (ngSubmit)="onSubmit()" class="selections">
            <div>
                <h3 class="titles">Retirada</h3>
                <input formControlName="retirada" type="datetime-local" #input (change)="onChange(input.value)" min="{{min_date}}">  <!--[(ngModel)]="values"-->
            </div>

            <div>
                <h3 class="titles">Devolução</h3>
                <input formControlName="devolucao" class="date" type="datetime-local">
            </div>

            <button (click)="onSubmit()" type="button" class="btn btn-success" id="submit">
                AVANÇAR
            </button>
        </form>
    </div>


    <section class="feedback-card-section">
        <app-card-feedback  *ngFor="let feedback of listaFeedback"
            nome={{feedback.nome}}
            nota={{feedback.nota}}
            descricao={{feedback.descricao}}
        ></app-card-feedback>
    </section>



</nav>


