.general{
    display: flex;
    flex-direction: column;

    .container{
      display: flex;
      flex-direction: column;
      align-items: center;

      .logo{
        margin-top: 10px;
        height: 8%;
        margin-bottom: 3px;
      }

      .topbar{
        display: flex;
        width: 100%;
        .addnewcar{
          justify-content: flex-start;
          background: var(--green);
          color: var(--white);
          border: none;
          width: 200px;
          height: 50px;
          border-radius: 31px;
          margin-top: 10px;
        }
        .addnewcar:hover {
          background-color: #346224;
        }
        .filter-button{
          width: 100%;
          display: flex;
          justify-content: flex-end;

        }

      }


    }
    .estruction{
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding-top: 40px;
      padding-left: 200px;
      margin-right: 50px;
      .car-cards{
        display: grid;
        flex-direction: row;
        @media (min-width: 1200px) {
          grid-template-columns: 1fr 1fr 1fr;
        }
        @media (max-width: 1200px) and (min-width: 800px) {
          grid-template-columns: 1fr 1fr;
        }
        @media (max-width: 800px) {
          grid-template-columns: 1fr;
        }
      }
      // depois deixar responsivo colocando 2 colunas ou 1 coluna
      // dependendo do tamanho da tela


    }
  }
