<app-nav-bar></app-nav-bar>

<nav class="general">
    <nav class="container">
        <img (click)="navigate_to_home_page()" class = "logo" src="assets/AluCar.png"/>
    </nav>

    <nav class="estruction">
        <div class="car-cards">
            <app-car-list-card *ngFor="let car1 of list_cars"
            id = {{car1.id}}
            nome = {{car1.nome}}
            imagem = {{car1.imagem}}
            marca = {{car1.marca}}
            cambio = {{car1.cambio}}
            totAssentos = {{car1.totAssentos}}
            tamanhoMala = {{car1.tamanhoMala}}
            tipoCombustivel = {{car1.tipoCombustivel}}
            preco = {{car1.preco}}
            qtdeCarros= {{car1.quantidade_disponivel}}
            ></app-car-list-card>
        </div>
    
    </nav>
</nav>

