<app-nav-bar></app-nav-bar>

<nav class="container">

  <img (click)="navigate_to_home_page()" src="assets/AluCar.png">

  <div class="login-container">
    <section class="login">

      <input class="email" name="e-mail" id="" cols="30" rows="1" placeholder="Login"/>

      <section class = "password">
          <input class = "senha" [type]="show ? 'text' : 'password'"  placeholder="Senha"/>
          <button class = "eye-button" *ngIf="show"(click)="show_senha()">
            <img class = "eye"  src="assets/olho.svg">
          </button>
          <button class = "eye-button" *ngIf="!show"(click)="show_senha()">
            <img  class = "eye"  src="assets/olho-riscado.svg">
          </button>
      </section>
        <button (click)="signin()" class="entrar">Entrar</button>
        <div class="cadastro-button">
        <button (click)="navigate_to_client_registration_page()" class="cadastro">Cadastrar</button>
        </div>

    </section>

  </div>

</nav>
