<app-nav-bar></app-nav-bar>

<nav class="container">

  <img (click)="navigate_to_home_page()" src="assets/AluCar.png">

  <div class="login-container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login">

      <input formControlName="login" type="text" class="email" name="e-mail" id="" cols="30" rows="1" placeholder="Email"/>
      <section class = "password">
          <input formControlName="password" class = "senha" name="senha" [type]="show ? 'text' : 'password'"  placeholder="Senha"/>
          <button class = "eye-button" *ngIf="show"(click)="show_senha()">
            <img class = "eye"  src="assets/olho.svg">
          </button>
          <button class = "eye-button" *ngIf="!show"(click)="show_senha()">
            <img  class = "eye"  src="assets/olho-riscado.svg">
          </button>
      </section>
        <button class="entrar" type="submit">Entrar</button>
        <div class="cadastro-button">
        <button (click)="navigate_to_client_registration_page()" class="cadastro">Cadastrar</button>
        </div>

    </form>

  </div>

</nav>
