.return-container{
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;

  .logo{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 40px;
  }

  .title{
    display: flex;
    justify-content: center;
    font-size: 40px;
  }

  .form-container{
    display: flex;
    margin-top: 64px;
    font-size: 30px;
    width: 80%;
    @media (min-width: 1000px) {
      justify-content: space-between;
    }

    @media (max-width: 1000px) {
      flex-direction: column-reverse;
      align-items: center;
      width: 60%;
   }


    .questions > input{
      margin-bottom: 20px;
      border-radius: 20px;
      width: 90%;
      height: 50px;
    }

    .fine{
      @media (min-width: 1000px) {
        margin-top: 200px;
        margin-right: 100px;
      }
      display: flex;
      flex-direction: column;
      & > input{
        height: 50px;
        @media (min-width: 1000px) {
          margin-bottom: 20px;
          width: 120%;
          border-radius: 20px;
        }

        @media (max-width: 1000px) {
          margin-bottom: 20px;
          width: 90%;
          border-radius: 20px;
        }
      }
    }


    .button{
      margin-top: 32px;
      margin-left: 128px;
      margin-bottom: 20px;
<<<<<<< HEAD
      width: 60%;
=======
      width: 300px;
>>>>>>> a346f6b897a94c1bfc7f20f6b92a49b90ba5575b
      background: var(--green);
      color: var(--white);
      border-radius: 31px;
      font-size: 40px;

      align-items: flex-end;
    }

  }

}

input{
  width: 100%;
  height: 5%;
  font-size: 20px;

}
