<app-nav-bar></app-nav-bar>

<nav class="return-container">

  <img (click)="navigate_to_home_page()" class="logo" src="assets/AluCar.png">
  <h1 class="title">DEVOLUÇÃO DO CARRO</h1>
  <div class="form-container">
    <section class="questions">
      <img src="{{imagem}}" class="photo">
      <!--<h2>Marca do Carro:</h2>
      <input name="Marca" cols="30" rows="1"/>
      <h2>Modelo:</h2>
      <input name="Marca" cols="30" rows="1"/>
      <h2>Ano:</h2>
      <input name="Marca" cols="30" rows="1"/>
      <h2>Placa:</h2>
      <input name="Marca" cols="30" rows="1"/>
      <h2>Quilometragem inicial:</h2>
      <input name="Marca" cols="30" rows="1"/>
      <h2>Quilometragem Final:</h2>
      <input name="Marca" cols="30" rows="1"/>-->
      <h2>Data de alocação:</h2>
      <input type="datetime-local" min="2022-08-28T17:55">
      <h2>Data de devolução:</h2>
      <input type="datetime-local" min="2022-08-28T17:55">
      <button (click)="navigate_to_home_page()" class="button"> Concluir</button>
    </section>



    <section class="fine">
      <h2>Atraso:</h2>
      <input name="Marca" cols="30" rows="1"/>
      <h2>Batido:</h2>
      <input name="Marca" cols="30" rows="1"/>
      <h2>Outros:</h2>
      <input name="Marca" cols="30" rows="1"/>
      <button class="button"> Calcular </button>

    </section>

</div>




</nav>
