<app-nav-bar></app-nav-bar>

<nav class="return-container">

  <img (click)="navigate_to_home_page()" class="logo" src="assets/AluCar.png">
  <h1 class="title">DEVOLUÇÃO DO CARRO</h1>
  <div class="form-container">
    <section class="questions">
      <h2>Email do cliente:</h2>
      <p>{{email}}</p>
      <img src="{{imagem}}" class="photo">
      <!--<h2>Marca do Carro:</h2>
      <input name="Marca" cols="30" rows="1"/>
      <h2>Modelo:</h2>
      <input name="Marca" cols="30" rows="1"/>
      <h2>Ano:</h2>
      <input name="Marca" cols="30" rows="1"/>
      <h2>Placa:</h2>
      <input name="Marca" cols="30" rows="1"/>
      <h2>Quilometragem inicial:</h2>
      <input name="Marca" cols="30" rows="1"/>
      <h2>Quilometragem Final:</h2>
      <input name="Marca" cols="30" rows="1"/>-->
      <h2>Data de alocação:</h2>
      <p>{{retirada}}</p>
      <h2>Data de devolução prevista:</h2>
      <p>{{devolucao}}</p>
      
      <button (click)="returnCar()" class="button"> Concluir</button>
    </section>



    <form [formGroup]="returnForm" (ngSubmit)="onSubmit()" class="fine">
      <h2>Atraso:</h2>
      <select formControlName="atraso" class="form-control" type="text">
        <option *ngFor="let atraso of atrasos"
            [value]="atraso">{{atraso}}</option>
      </select>
      <h2>Batido:</h2>
      <select formControlName="batido" class="form-control" type="text">
        <option *ngFor="let batido of batidos"
            [value]="batido">{{batido}}</option>
      </select>
      <h2 *ngIf="!multa">Total: R$ {{pagamento}}</h2>
      <h2 *ngIf="multa">Total com multa: R$ {{pagamento}}</h2>
      <button type="submit" class="button"> Calcular </button>

    </form>

</div>




</nav>
