.return-container{
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;

  .logo{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 40px;
  }

  .title{
    display: flex;
    justify-content: center;
    font-size: 40px;
  }

  .form-container{
    display: flex;
    margin-top: 64px;
    font-size: 30px;
    width: 80%;
    justify-content: space-between;

    .questions > input{
      margin-bottom: 20px;
    }

    .fine{
      margin-top: 200px;
      margin-right: 100px;
      display: flex;
      flex-direction: column;
      & > input{
        margin-bottom: 20px;
        width: 150%;
      }
    }


    .button{
      margin-top: 32px;
      margin-left: 128px;
      width: 60%;
      background: var(--green);
      color: var(--white);
      border-radius: 31px;
      font-size: 40px;
      justify-content: center;
      align-items: flex-end;
    }

  }

}

input{
  width: 100%;
  height: 5%;
  font-size: 20px;
  
}
