<nav class="return-container">

  <section class="questions">
    <h2>Marca do Carro:</h2>
    <textarea name="Marca" cols="30" rows="1"></textarea>
    <h2>Modelo:</h2>
    <textarea name="Marca" cols="30" rows="1"></textarea>
    <h2>Ano:</h2>
    <textarea name="Marca" cols="30" rows="1"></textarea>
    <h2>Placa:</h2>
    <textarea name="Marca" cols="30" rows="1"></textarea>
    <h2>Quilometragem inicial:</h2>
    <textarea name="Marca" cols="30" rows="1"></textarea>
    <h2>Quilometragem Final:</h2>
    <textarea name="Marca" cols="30" rows="1"></textarea>
    <h2>Data de alocação:</h2>
    <input type="datetime-local" min="2022-08-28T17:55">
    <h2>Data de devolução:</h2>
    <input type="datetime-local" min="2022-08-28T17:55">
  </section>

  <H1 class="title">DEVOLUÇÃO DO CARRO</H1>

  <section class="fine">
    <h2>Atraso:</h2>
    <textarea name="Marca" cols="30" rows="1"></textarea>
    <h2>Batido:</h2>
    <textarea name="Marca" cols="30" rows="1"></textarea>
    <h2>Outros:</h2>
    <textarea name="Marca" cols="30" rows="1"></textarea>
    <button class="calculate-button"> Calcular </button>

  </section>




</nav>
